In [99]:
donation =pd.read_excel("C:/Users/diksh/Desktop/Data Analyst/Give Life_ Predict Blood Donations/datasets/Donation Project.xlsx")
donation

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [100]:
#Task 1 - Print out the first 5 lines from the data

In [101]:
donation.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [102]:
#Task 2
#1. Import the pandas library
#2. Load the data and assign it to the transfusion variable
#3. Display the first rows of the DataFrame with the head() method to verify the file was loadedcorrectly

In [103]:
import pandas as pd

In [104]:
transfusion = pd.read_excel("C:/Users/diksh/Desktop/Data Analyst/Give Life_ Predict Blood Donations/datasets/Donation Project.xlsx")
transfusion.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [105]:
#Task 3
#Inspect the DataFrame's structure.
#Print a concise summary of the transfusion DataFrame with the info() method.

In [106]:
transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [107]:
transfusion.rename(columns={'whether he/she donated blood in March 2007': 'target'}, inplace=True)

In [108]:
transfusion.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),target
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [109]:
target_incidence_propotion = transfusion['target'].value_counts(normalize=True).round(3)

print(target_incidence_propotion)

target
0    0.762
1    0.238
Name: proportion, dtype: float64

In [110]:
#This means that 76% havent donated and the remaining have been donated i.e,23%

In [111]:
#Task 6
#Split the transfusion DataFrame into train and test datasets.
#Import train_test_split from sklearn.model_selection module.
#Split transfusion into X_train, X_test, y_train and y_test datasets, stratifying onthe target column.
#Print the first 2 rows of the X_train DataFrame with the head() method.

In [112]:
from sklearn.model_selection import train_test_split

In [113]:
X_train, X_test, y_train, y_test = train_test_split(
    transfusion.drop(columns='target'),transfusion.target,test_size=0.25, random_state=42,stratify=transfusion.target
)

In [114]:
X_train.head(2)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
334                16                  2                    500             16
99                  5                  7                   1750             26

In [115]:
%pip install tpot
%pip install torch

Requirement already satisfied: tpot in c:\users\diksh\anaconda3\lib\site-packages (0.12.1)
Requirement already satisfied: numpy>=1.16.3 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (1.24.3)
Requirement already satisfied: scipy>=1.3.1 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (1.11.1)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (1.3.0)
Requirement already satisfied: deap>=1.2 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (1.4.1)
Requirement already satisfied: update-checker>=0.16 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (0.18.0)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (4.65.0)
Requirement already satisfied: stopit>=1.1.1 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (2.0.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (1.2.0)
Requirement already satisfied: xgboost>=1.1.0 in c:\users\diksh\anaconda3\lib\site-packages (from tpot) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diksh\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diksh\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\diksh\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diksh\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->tpot) (2.2.0)
Requirement already satisfied: colorama in c:\users\diksh\anaconda3\lib\site-packages (from tqdm>=4.36.1->tpot) (0.4.6)
Requirement already satisfied: requests>=2.3.0 in c:\users\diksh\anaconda3\lib\site-packages (from update-checker>=0.16->tpot) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\users\diksh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\diksh\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\diksh\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\diksh\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\diksh\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: torch in c:\users\diksh\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: filelock in c:\users\diksh\anaconda3\lib\site-packages (from torch) (3.9.0)
Requirement already satisfied: typing-extensions in c:\users\diksh\anaconda3\lib\site-packages (from torch) (4.7.1)
Requirement already satisfied: sympy in c:\users\diksh\anaconda3\lib\site-packages (from torch) (1.11.1)
Requirement already satisfied: networkx in c:\users\diksh\anaconda3\lib\site-packages (from torch) (3.1)
Requirement already satisfied: jinja2 in c:\users\diksh\anaconda3\lib\site-packages (from torch) (3.1.2)
Requirement already satisfied: fsspec in c:\users\diksh\anaconda3\lib\site-packages (from torch) (2023.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\diksh\anaconda3\lib\site-packages (from jinja2->torch) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\diksh\anaconda3\lib\site-packages (from sympy->torch) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [116]:
from tpot import TPOTClassifier
from sklearn.metrics import roc_auc_score

In [117]:
tpot = TPOTClassifier(
    generations=5,
    population_size=20,
    verbosity=2,
    scoring='roc_auc',
    random_state=42,
    disable_update_check=True,
    config_dict='TPOT light'
)
tpot.fit(X_train, y_train)

Optimization Progress:   0%|          | 0/120 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.7422459184429089

Generation 2 - Current best internal CV score: 0.7422459184429089

Generation 3 - Current best internal CV score: 0.7423330644124078

Generation 4 - Current best internal CV score: 0.7423330644124078

Generation 5 - Current best internal CV score: 0.7423330644124078

Best pipeline: LogisticRegression(RobustScaler(input_matrix), C=25.0, dual=False, penalty=l2)

TPOTClassifier(config_dict='TPOT light', disable_update_check=True,
               generations=5, population_size=20, random_state=42,
               scoring='roc_auc', verbosity=2)

In [118]:
tpot_auc_score = roc_auc_score(y_test, tpot.predict_proba(X_test)[:, 1])
print(f'\nAUC score: {tpot_auc_score:.4f}')
print('\nBest pipeline steps:', end='\n')
for idx, (name, transform) in enumerate(tpot.fitted_pipeline_.steps, start=1):
    print(f'{idx}. {name}')

AUC score: 0.7858

Best pipeline steps:
1. robustscaler
2. logisticregression

In [119]:
variance_X_train = X_train.var()
print(variance_X_train.round(3))

Recency (months)              66.929
Frequency (times)             33.830
Monetary (c.c. blood)    2114363.700
Time (months)                611.147
dtype: float64

In [120]:
import numpy as np

In [121]:
X_train_normed, X_test_normed = X_train.copy(), X_test.copy()
col_to_normalize = 'Monetary (c.c. blood)' #normalizing monetary column

In [122]:
for df_ in [X_train_normed, X_test_normed]:
    df_['Monetary (c.c. blood)_log'] = np.log(df_[col_to_normalize])
    df_.drop(columns=[col_to_normalize], inplace=True) #drop the orginal column

In [123]:
print(X_train_normed.var().round(3))

Recency (months)              66.929
Frequency (times)             33.830
Time (months)                611.147
Monetary (c.c. blood)_log      0.837
dtype: float64

In [124]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

logreg = LogisticRegression(
    solver='liblinear',
    random_state=42
)
logreg.fit(X_train_normed, y_train)

logreg_auc_score = roc_auc_score(y_test, logreg.predict_proba(X_test_normed)[:, 1])
print(f'\nAUC score: {logreg_auc_score:.4f}')

AUC score: 0.7891

In [125]:
from operator import itemgetter
sorted(
    [('tpot', tpot_auc_score), ('logreg', logreg_auc_score)],
    key=itemgetter(1),
    reverse=True
)

[('logreg', 0.7890972663699937), ('tpot', 0.7857596948506039)]

In [ ]:
#Internship - Med Tour Easy
#Assignment - Blood donation wherein AUC score and Logreg should be found